*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    list-style-type: none;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.wrapper{
    width: 1170px;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 1900px;
}

.header{
    display: flex;
   flex-direction: column;
}

.header-nav{
    width: 100%;
    height: 70px;
    background: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    display: flex;
    align-items: center;
}
.header-logo-img{
    width: 27px;
    height: 27px;
    margin-left: 29px;
    margin-right: 27px;
}

.header-logo-text {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #ffffff;
    margin: 0;
}

.header-menu{
    display: flex;
    align-items: center;
}

.header-menu-link {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin-right: 35px;
    margin-top: 26px;
    margin-bottom: 24px;
}

.header-menu-link:last-child{
    margin-right: 0;
}

.header-menu-link:hover {
    color: #14B9D5;
}

.header-search {
    width: 68px;
    height: 70px;
}

.header-search-icon{
    margin: 25px;
}

.header-search:hover {
    background-color: #000
}

.header-banner{
    background-image: url(../images/header-background.jpg);
    height: 369px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-properties{
    margin-bottom: 44px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}

.link-header-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-header-subscribe{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    /*padding: 16px;*/
    background-color: #89CA62;
    border-radius: 4px;
    width: 170px;
    height: 55px;
    border: none;
    margin-right: 20px;
}

.link-header-best-articles {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 16px;
    background: #14B9D5;
    border-radius: 4px;
    width: 170px;
    height: 55px;
    border: none;
}

.posts{
    padding-top: 49px;
    background: #F2F2F2;
}

.title{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    margin-top: 0;
    margin-bottom: 52px;
}

.posts-container {
    display: flex;
    align-items: start;
    justify-content: center;
}

.column{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 370px;
    margin-right: 30px;
}

.column:last-child{
    margin-right: 0;
    margin-bottom: 74px;
}

.post {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: center;
    margin-bottom: 24px;
}

.post:last-child {
    margin-bottom: 0;
}

.post img {
    vertical-align: top;
}

.post-title{
    background: #FFFFFF;
    padding: 20px;
}

.banner-clients{
    line-height: 1;
    background-image: url(../images/clients-background.jpg);
    height: 480px;
    margin-top: 2px;
}

.title-clients{
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    padding-top: 106px;
    margin-top: 0;
    margin-bottom: 87px;
    text-align: center;
}

.clients-line {
    width: 60px;
    height: 4px;
    border: none;
    background: #18B4CF;
    margin-bottom: 106px;
    margin-top: 0;
}

.container-clients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}

.item{
    padding-left: 29px;
    padding-right: 29px;
}

.banner-top-rated{
   padding-top: 49px;
}

.top-rated {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    overflow: hidden;
}

.images-tr{
    width: 271px;
    height: 190px;
    padding: 0;
    margin: 0;
}

.news{
    padding-top: 49px;
}

.news-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 35px;
    grid-row-gap: 44px;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-areas:
"top1 top1 top1 top2"
"top3 top3 top4 top4"
"top5 top5 top6 top6"
"top7 top8 top8 top8";
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F9F7F7;
 }

.card-wide{
    flex-direction: row;
}

.card-content{
    padding: 12px;
}

.card-wide .card-content {
    padding: 0 24px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top1{
    grid-area: top1;
    display: flex;
}

.top2{
    grid-area: top2;
}

.top3{
    grid-area: top3;
}

.top4{
    grid-area: top4;
}

.top5{
    grid-area: top5;
}

.top6{
    grid-area: top6;
}

.top7{
    grid-area: top7;
}

.top8{
    grid-area: top8;
    display: flex;
}

.title-top-hot-news{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    margin-top: 0;
    margin-bottom: 15px;
    color: #353A3D;
}

.text-top-hot-news{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
    background: #F9F7F7;
    margin: 0;
}

.footer-container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 71px;
}

.footer{
    height: 80px;
    background-color: #000000;
}

.footer-title{
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}

.footer-logo{
    text-align: end;
}

