*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #fff;
}

.container {
    margin: 0 auto;
    width: 1280px;
}

.header {
    margin-bottom: 50px;
}

.header-logo {
    font-size: 80px;
    line-height: 94px;
    display: inline-flex;
    color: lightskyblue;
    padding-top: 61px;
    padding-bottom: 38px;
}

.accent{
    color: #000;
}

.header-nav {
    background: #35444F;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-menu-item {
    border-left: 1px solid #FFFFFF;
    padding: 26px 33px 19px;
}

.header-menu-item:last-child {
    border-right: 1px solid #FFFFFF;
}

.header-menu-item:hover {
    background: #222F3A;
}

.header-menu-link {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.content {
    display: flex;
    align-items: flex-start;
}

.content-menu {
    width: 344px;
    margin-right: 52px;
    border: 1px solid #000000;
}

.navigation-menu-link {
    display: block;
    padding: 26px 44px;
    color: #495863;
    font-size: 27px;
    line-height: 27px;
    vertical-align: center;
}

.navigation-menu-link:hover {
    background: #DBDBDB;
    text-align: center;
}

.ramda-block {
    width: 885px;
 }

.ramda-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 529px;
    border: 1px solid #000;
}

.ramda-image:hover .top-main-img {
    transform: scale(1.2);
}

.top-main-img {
    width: 320px;
    height: 381px;
    transition: transform 1s;
}

.ramda-text-ru{
    font-size: 18px;
    line-height: 24px;
    margin-top: 37px;
    margin-bottom: 34px;
}

.ramda-text-original {
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 54px;
}

.footer {
    display: flex;
    font-size: 28px;
    line-height: 28px;
    padding: 0 40px;
    color: #010101;
    background: rgba(99, 105, 110, 0.48);
}

.footer-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-menu-item{
    display: flex;
    padding: 20px 20px 12px;
    align-items: center;
    justify-content: left;
}

.footer-menu-link {
    font-size: 28px;
    line-height: 28px;
    color: #010101;
    padding-bottom: 8px;
}

.copyright{
    display: flex;
    font-size: 24px;
    line-height: 28px;
    padding: 20px;
    margin: 0;
    color: #010101;
}

.footer-menu-link:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}
