*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.page {
    height: 100%;
}

.page-body {
    margin: 0;
    font-family: sans-serif;
    background: #E5E5E5;
}

.wrapper{
    display: block;
    margin: 0 auto;
    width: 1280px;
    height: 1626px;
    background: #fff;
}

.navigation {
    display: block;
    margin: 0 auto;
    text-align: center;

}
.navigation-menu{
    margin: 0;
    padding: 0;
}

.navigation-menu-item {
    display: inline-block;
    margin-right: 72px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navigation-menu-item:last-child {
    margin-right: 0;
}

.navigation-link {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}

.photo {
    width: 1280px;
    height: 789px;
    display: block;
    margin: 0 auto;
}

.title {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    color: #373737;
    font-style: normal;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 38px;
}

.text1 {
    color: #373737;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    width: 1145px;
    height: 132px;
    display: block;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 2.4px;
    line-height: 26px;
    }

.text2 {
    color: #373737;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    width: 1145px;
    height: 216px;
    display: block;
    margin: 28px auto 66px;
    text-align: center;
    letter-spacing: 2.4px;
    line-height: 26px;
 }

.link{
    color: #FFFFFF;
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1.8px;
    background: #FF0000;
    padding: 18px 43px 17px 43px;
    display:block;
    position: relative;
    border-radius: 4px;
    margin:0 auto 82px;
    border: none;
}

.copyright {
    color: #373737;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    text-align: right;
    padding-right: 105px;
    line-height: 20px;
    letter-spacing: 2.4px;
}


